   @import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');







   
*{
margin: 0;
padding: 0;
box-sizing: border-box;


}


html{
font-size: 62.5%;



}

:root{
--darkblue:#270082;
--darkpurple:#281154;
--red:#ff0000;
--white:#ffffff;
--black:#333232;


}

/* navbar started */

.navbar-container{
display: flex;
justify-content: space-around;
gap: 40px;
background-color: var(--darkblue);
padding: 20px 10px;



}

.logo{
font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-top: 4px;
  color: var(--white);





}


.nav-items{
display: flex;
gap: 50px;


}

@font-face {
  font-family: 'Josefin';
  src: url('fonts/Josefin_Sans_Thin_Italic.otf') format('opentype');
}


.links{
    text-decoration: none;
  font-family: 'Josefin', sans-serif;
  font-size: 2.7rem;
  margin-top: 20px;
  color: var(--white);
  font-weight: 100;
}

.links:hover{
color: var(--red);



}
.main-u-bar{
color: var(--white);
padding-top: 23px;
font-size: 2rem;


}


.main-u-bar:hover{
color: var(--red);


}


/* navbar ended */


/* navbar  responsive started */

@media(max-width:935px){
.links{
display: none;
}


}

@media(max-width:1280px){
.links{
display: none;
}


}


@media(min-width:1286px){
.main-u-bar{
display: none;
}


}

/* navbar responsive ended   */



/* section for my tune hero started */

.my-tune-content{

  background-position: center; 
  background-repeat: no-repeat;
background-size: cover;



}










.my-tune {
  height: 100vh;
  width: 100%;
background: url('img dj.jpg') no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


    .my-tune-content {
      position: relative;
      z-index: 2;
      text-align: center;
      color: white;
      padding: 20px;
    }

    .hero-section-headingone{
        font-family: "Roboto", sans-serif;
      font-size: 7rem;
      margin-bottom: 20px;
      font-weight: 350;
    }

.hero-section-headingtwo{
      font-family: 'Josefin', sans-serif;
 font-size:5rem;
      margin-bottom: 20px;
      text-transform: lowercase;
      font-weight: 100;





}




    .hero-section-headingthree {
      font-size: 2.5rem;
      text-align: center;
      margin: 100px auto 0 auto;
      line-height: 1.4;
      padding: 0 30px;
      font-weight: 100;
      font-family: 'Josefin', sans-serif;

    }
 /* section for my tune hero ended */
  

















 /*  responsiev section for my tune hero started */
    @media (max-width: 1024px) {
      .hero-section-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.hero-section-headingtwo{
     font-size:2.4rem;
font-weight: 200;
}


      .hero-section-headingthree {
        font-size: 1.6rem;
        font-weight: 100;
      }
   
    }

    @media (max-width: 935px) {
      .hero-section-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.hero-section-headingtwo{
     font-size:2.4rem;
font-weight: 200;
}


      .hero-section-headingthree {
        font-size: 1.6rem;
        font-weight: 100;
      }
      
  
    }



    @media (max-width: 667px) {
      .hero-section-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.hero-section-headingtwo{
     font-size:2.4rem;
     font-weight: 200;

}


      .hero-section-headingthree {
        font-size: 1.6rem;
        font-weight: 100;
      }
    
    }



  @media (max-width: 768px) {
      .hero-section-headingthree {
        font-size: 2rem;
        max-width: 90%;
      }
    }

    @media (max-width: 480px) {
      .hero-section-headingthree {
        font-size: 1.5rem;
        line-height: 1.3;
      }
    }




 /*  responsiev section for my tune hero ended */

 /* section for zero ads started */

.container-for-ads{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: var(--darkblue);
height: 80vh;



}

.content-headingone{
     font-family: "Roboto", sans-serif;
      font-size: 7rem;
      margin-bottom: 20px;
      font-weight: 250;
      color: var(--white);

}


.content-headingtwo{
     font-family: "Roboto", sans-serif;
      font-size: 3rem;
      margin-bottom: 20px;
      font-weight: 850;
      color: var(--white);

}


.content-paraone{
font-size: 3rem;
font-family: "Roboto", sans-serif;
color: var(--white);

}

.content-btn{
font-size: 3rem;
font-family: "Roboto", sans-serif;
font-weight: 100;
color: var(--white);
padding: 10px 15px;
background-color: var(--red);
border: none;
border-radius: 3px;
cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease


}

.content-btn:hover{
background-color: var(--black);
transform: translateX(10px);

}


.content-paratwo{
font-size: 3rem;
font-family: "Roboto", sans-serif;
color: var(--white);
font-weight: 100;




}



.container-for-image{
display: flex;
justify-content: center;
align-items: center;
position: relative;
bottom: 90px;
}
/* section for zero ads ended  */

 /* section for zero ads responsive started */

    @media (max-width: 1024px) {
      .container-for-ads{
       display: block;
       width: 100%;
      }

      .content-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.content-headingtwo{
     font-size:2.4rem;
font-weight: 200;
}


      .content-paraone {
        font-size: 1.6rem;
        font-weight: 100;
      }


   .content-paratwo{
        font-size: 1.6rem;
        font-weight: 100;
      }





.content-image{
display: block;
width: 100%;




}

   
    }

    @media (max-width: 935px) {

           .container-for-ads{
       display: block;
       width: 100%;
      }

      .content-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.content-headingtwo{
     font-size:2.4rem;
font-weight: 200;
}


      .content-paraone {
        font-size: 1.6rem;
        font-weight: 100;
      }


   .content-paratwo{
        font-size: 1.6rem;
        font-weight: 100;
      }





.content-image{
display: block;
width: 100%;


}

  
    }



    @media (max-width: 667px) {
     .container-for-ads{
       display: block;
       width: 100%;
      }

      .content-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.content-headingtwo{
     font-size:2.4rem;
font-weight: 200;
}


      .content-paraone {
        font-size: 1.6rem;
        font-weight: 100;
      }


   .content-paratwo{
        font-size: 1.6rem;
        font-weight: 100;
      }





.content-image{
display: block;
width: 100%;


}




     
    }



  @media (max-width: 768px) {

     .container-for-ads{
       display: block;
       width: 100%;
      }

      .content-headingone{
        font-size: 3.5rem;
        font-weight: 300;
      }

.content-headingtwo{
     font-size:2.4rem;
font-weight: 200;
}


      .content-paraone {
        font-size: 1.6rem;
        font-weight: 100;
      }


   .content-paratwo{
        font-size: 1.6rem;
        font-weight: 100;
      }





.content-image{
display: block;
width: 100%;


}










    }

























/*   section for zero ads  responsive ended  */






